.hidden.menu {
  display: none;
}

.masthead.segment {
  height: 100vh;
  display: table-row;
  width: 100%;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.follow-buttons {
  margin-top: 40px;
}

.follow-buttons .button{
  background: transparent!important;
  margin: 0;
  padding: 1em;
}

.follow-buttons .button i {
  color: #EEEEEE;
  font-size: 3em;
}

.follow-buttons .button:hover i {
  color: #FFFFFF;
}

.mario-background {
  position: relative;
  background: #000;
  overflow: hidden;
}

.mario-background:before {
  background: url('../images/bgmario2.jpg') no-repeat center center fixed!important;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-size: cover!important;
  background-position: left center!important;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.ui.text.container{
  opacity: .9;
 
}

.ui.button>.icon:not(.button) {
  opacity: .99;
}

.ui.vertical.stripe {
  padding: 4em 0em;
}

.text-wrapper-container {
  display: table-cell; 
  width: 100%; 
  vertical-align: middle;
}

#downButton {
  background: transparent url('../images/arrow_down.png') center center no-repeat;
  background-size: 70px 37px !important;
  border-radius: 30px;
  width: 45px;
  height: 35px;
  position: absolute;
  bottom: 35px;
  z-index: 99;
  text-indent: -9999 !important;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: left !important;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .7;
}

.projects-slider {
  margin-top: -6px;
}

.slider-content {
  margin: 100px 0px!important;
  color: #FFF;
}

.slider-title {
  position: absolute;
  z-index: 50;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slider-title h2 {
  display: inline;
  color: #FFF;
  background: #000;
  padding: 5px;
}

.slider-image img {
  width: 100%;
}

.slider1 .item1 {
  background:linear-gradient(315deg, #5E2563 0%, #65799B 100%);
}

.ui.button {
  padding: 10px;
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
  background: transparent;
  border: 1px solid #FFFFFF;
  padding: 9px;
  color: #FFFFFF!important;
}

.slider1 .item2 {
  background:url("../images/esquina64_bg.jpg");
  background-repeat: repeat;
}
.slider1 .item2 .ui.primary.button, 
.slider1 .item2 .ui.primary.buttons .button {
  color: #333333;
}
.slider1 .item3 {
  background:#AB2B2A;
}
.slider1 .item3 .ui.primary.button, 
.slider1 .item3 .ui.primary.buttons .button {
  color: #AB2B2A;
}
.slider1 .item4 {
  background:#333;
}
.slider1 .item4 .ui.primary.button, 
.slider1 .item4 .ui.primary.buttons .button {
  color: #333333;
}

.slide-item.item4 .ui.card, .slide-item.item4 .ui.cards>.card {
  width: 260px;
}

/* slider sizes */
@media only screen and (max-width: 767px) {
  .slide-item.item4 .ui.cards{
    margin: auto; 
  } 
  .slide-item.item4 .project-content-mobile .project-content {
    padding-top: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .slide-item.item4 .ui.cards {
    max-width: 550px;
    margin: auto;
  } 
}

@media only screen and (min-width: 992px) and  (max-width: 1199px){
  .slide-item.item4 .ui.cards {
    max-width: 830px;
    margin: auto;
  }
  .slide-item.item4 .ui.card:nth-child(3), 
  .slide-item.item4 .ui.cards>.card:nth-child(3) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .slide-item.item4 .ui.cards {
    max-width: 1100px;
    margin: auto;
  }
}

.ui.primary.button:active, .ui.primary.buttons .button:active,
.ui.primary.button:focus, .ui.primary.buttons .button:focus {
  background: #FFFFFF;
  color: #333333!important;
}

.project-content h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-content .project-subtitle {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: normal;
}

#streamow-modal .description .button.enabled {
   background:linear-gradient(315deg, #5E2563 0%, #65799B 100%);
   color: #FFFFFF;
}

#estacao64-modal .description .button.enabled {
   background:linear-gradient(315deg, #525156 0%, #232126 100%);
   color: #FFFFFF;
}


.image.content .image img,
#githubprojects-modal img {
  width: 100%;
}

/* slider sizes */
@media only screen and (max-width: 767px) {
  .slider1 .slide-item {
    height: auto;
  } 
}

@media only screen and (min-width: 768px) {
  .slider1 .slide-item {
    height: 662px;
  } 
}

@media only screen and (min-width: 992px) {
  .slider1 .slide-item {
    height: 550px;
  }
}

@media only screen and (min-width: 1200px) {
  .slider1 .slide-item {
    height: 580px;
  }
}

@media only screen and  (max-width: 1199px) {
  .project-content-button-version {
    display: none;
  }
}

@media only screen and  (max-width: 767px) {
  .project-content-desktop {
    display: none;
  }

  .project-content h3 {
    font-size: 20px;
  }

  .project-content .project-subtitle {
    font-size: 14px;
    line-height: 18px;
    height: 36px;
  }

  .slider-image {
    text-align: center;
  }

  .slider-image img {
    max-width: 400px!important;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .project-content-mobile {
    display: none;
  }
}

.project-content-mobile button {
  width: 100%;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #FFFFFF;
    color: #614478;
    border-radius: 6px;
    text-shadow: none;
    background-image: none;
}

@media only screen and (min-width: 768px) {
  .cartoon-avatar-small {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #downButton {
    display: none;
  }
  .masthead.segment, .mario-background:before {
    height: 400px;
  }
  .mario-background:before {
    background: url('../images/bgmario2_med.jpg') no-repeat center center!important;
  }
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 3em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .follow-buttons .button {
    padding: 0.5em;
  }
  .follow-buttons .button i {
    font-size: 2em;
  }
  .ui.vertical.stripe {
    padding: 2em 0em;
  }
  .cartoon-avatar-wrapper {
    text-align: center;
  }
  .about-segment, .cartoon-avatar-wrapper {
      padding-bottom: 0px!important; 
  }
  .cartoon-avatar {
    height: 270px;
  }
  .cartoon-avatar-big {
    display: none;
  }
  .ui.modal>.close {
    top: 7px!important;
    right: 5px!important;
  }
}
@media only screen and (max-width: 400px) {
  .mario-background:before {
    background: url('../images/bgmario2_small.jpg') no-repeat center center!important;
  }

  .modal .description .button {
    width: 100%;
    margin-bottom: 10px;
  }
}